body {
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
  padding: 0;
  height: 100vh;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}

.wraper{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
}