.box {
    width: 100px;
    height:100px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    background-color: rgb(233, 113, 0);
    margin: 30px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    width: 50%;
}